<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/chatroom.css">
    <title>ChatRoom</title>
</head>

<body>
<section class="msger">
  <header class="msger-header">
    <div class="msger-header-title">
      <i class="fas fa-comment-alt"></i> #General
    </div>
    <div class="msger-header-options">
      <span><i class="fas fa-cog"></i></span>
    </div>
    <div>
        <input type="password" placeholder="password" id="key-box" value="{{passwd}}" disabled/>
        <button type="button" id="logout" value="{{username}}" onclick="logout()">Let Me Out</button>
    </div>
  </header>

  <!-- After the bot message display all old messages -->
  <main class="msger-chat">

    <div class="msg left-msg">
      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">BOT</div>
          <div class="msg-info-time">00:00</div>
        </div>

        <div class="msg-text">
          Hi, Welcome to our ChatRoom created using BlockChain. Have Fun!. 😄
        </div>

        <div class="msg left-msg">
            <div class="loader" id="lLoader"></div>
        </div>

      </div>
    </div>

    <!-- This is where user messages are displayed -->
    
  </main>

  <div class="msg right-msg">
    <div class="loader" id="rLoader"></div>
  </div>

  <div class="msger-inputarea">
    <input id="send_msg_field" type="text" class="msger-input" placeholder="Enter your message...">
    <button type="submit" id="submit-btn" class="msger-send-btn" onclick="submit_msg()">Send</button>
  </div>
</section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type='text/javascript' src='../static/chatroom.js'></script>
</html>