<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/chatroom.css">
    <title>ChatRoom</title>
</head>

<body>
<section class="msger">
  <header class="msger-header">
    <div class="msger-header-title">
      <i class="fas fa-comment-alt"></i> #General
    </div>
    <div class="msger-header-options">
      <span><i class="fas fa-cog"></i></span>
    </div>
    <div>
        <!-- TODO: if logout button pressed then call API to logout which redirects url to home -->
        <button type="button" id="logout" value="{{username}}" onclick="alert('Hello world!')">Logout</button>
    </div>
  </header>

  <!-- After the bot message display all old messages -->
  <main class="msger-chat">
    <div class="msg left-msg">
      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">BOT</div>
          <div class="msg-info-time">00:00</div>
        </div>

        <div class="msg-text">
          Hi, Welcome to our ChatRoom created using BlockChain. Have Fun!. 😄
        </div>
      </div>
    </div>

    <!-- This is where user messages are displayed -->
    <div class="msg right-msg">
      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">Sajad</div>
          <div class="msg-info-time">12:46</div>
        </div>
        <div class="msg-text">
          You can change your name in JS section!
        </div>
      </div>
    </div>
  </main>

  <form class="msger-inputarea">
    <input type="text" class="msger-input" placeholder="Enter your message...">
    <button type="submit" class="msger-send-btn">Send</button>
  </form>
</section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type='text/javascript' src='../static/chatroom.js'></script>
</html>